.searchContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0 auto;
  width: 300px;
  position: relative;
}
.input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  color: #393e46;
}
